<div class="row child">
	<div class="col-md-5">
	  <p class="text">Finished Projects</p>
	  <p> Personal Website - <%= link_to "GitHub", "https://github.com/t-harps/personal-website" %>
	  </p>
	  <p>
	  <%= link_to "Ski Blog", "https://ski-blog.herokuapp.com" %>
	   - 
	  <%= link_to "GitHub", "https://github.com/t-harps/ski-blog" %>
	  </p>
	</div>
	<div class="col-md-2 name"><%= link_to "Thomas Harpur", root_path %></div>
	<div class="col-md-5">
	  <p class="text">Works in progress</p>
	  <p>
	  <%= link_to "Simple Facebook clone", "https://fakebook-1000.herokuapp.com" %>
	   - 
	  <%= link_to "GitHub", "https://github.com/t-harps/odin-facebook" %>
	  </p>
	</div>
</div>
